<div data-collapse="medium" data-animation="default" data-duration="400" class="nav-bar w-nav">
<div class="navigation-wrap">
  <a href="#" class="logo-link-2 w-nav-brand">
    <div class="text-block-10"><strong class="bold-text-5"> </strong>Grecocktail</div>
  </a>
  <div class="menu-2">
    <nav role="navigation" class="navigation-items w-nav-menu"><a href="/learn" class="navigation-item-2 w-nav-link">Learn</a><a href="#" class="navigation-item-2 w-nav-link">Mon frigo</a><a href="#" class="navigation-item-2 w-nav-link">All</a></nav>
    <div class="menu-button w-nav-button">
    <img src="<%= image_path "menu-icon_1menu-icon.png" %>"  width="22" alt="menu icon" class="menu-icon"></div>
  </div>
  <a href="mailto:mail@business.com?subject=You&#x27;ve%20got%20mail!" class="button cc-contact-us w-inline-block">
    <div>Connexion</div>
  </a>
</div>
</div>
<div class="menu-box"><a href="#" class="menu-item w-button frigo-btn"><strong></strong> </a><a href="#" class="menu-item active w-button"><strong></strong></a><a href="#" class="menu-item w-button"><strong></strong></a></div>
<div class="banner">
<div class="container w-container">
  <div class="h1">Become a cocktail&#x27;s <strong class="bold-text-4">Master</strong></div>
  <div class="subtitle"><a href="#" class="action w-button">Connexion</a></div>
</div>
</div>
<div class="container-3 w-container">
<div class="div-block-5"><a href="#" class="action w-button frigo-btn">Rechercher avec mes ingrédients</a></div>
<div class="search-box">
  <div class="form-block w-form">
  <%= form_tag cocktails_path, class: "w-100", method: :get do %>
    <%= text_field_tag :query,
    params[:query], class: "search-field", placeholder: "Rechercher"%>
    <button type="submit" class="search-button"><i class="fa fa-search"> </i></button>
  <% end %>
    <div class="w-form-done">
      <div>Thank you! Your submission has been received!</div>
    </div>
    <div class="w-form-fail">
      <div>Oops! Something went wrong while submitting the form.</div>
    </div>
  </div>
</div>
<div class="result">
  <div class="text-block-3">Liste des cocktails</div><a href="#" data-w-id="0d74062c-e2c4-fd4b-0c0d-58fcde32905e" class="add-btn w-button"><strong class="bold-text"></strong></a></div>
<div class="w-layout-grid grid">


  <% @cocktails.each do |item| %>
   
    <div id=<%="card_"+item.id.to_s%> class="cocktail-card" style="background-image : linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url( <%= item.photo.present? ? item.photo : cl_image_path("vucs2ncsgrk6eo0iho2g") %>); background-size: cover;">

      <div class="card-cocktail-header">
      <div class="text-block-7">100%</div>
      <a href="#" class="button-2 w-button"><strong></strong></a></div>
      <div class="card-inner-cocktail">
        <div class="text-block-2" style="height: 80%"><%= item.name %></div>
      </div>
      <div class="card-footer hidden"></div>
    </div>


    <div id=<%="modal_"+item.id.to_s%> class="modal">
<div class="modal-header"><a data-w-id="c9b0a6de-14b6-d1c7-bce1-8201d9bb9d3e" href="#" class="close w-button"></a></div>
<div class="modal-inner">
  <div class="colone">
    <div class="cocktail-card show" style="background-image : linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),  url( <%= item.photo.present? ? item.photo : cl_image_path("vucs2ncsgrk6eo0iho2g") %>); background-size: cover;">
      <div class="card-cocktail-header"><a href="#" class="button-2 w-button"><strong></strong></a></div>
      <div class="card-inner-cocktail">
        <div class="text-block-2"><%=item.name%></div>
      </div>
      <div class="card-footer"></div>
    </div>
    <div class="card _100">
      <div class="card-header">
        <div class="text-block-4">Ingrédients</div>
      </div>
      <div class="card-inner">

       <% item.doses.each do |item| %>
          <div class="ig-list">
            <div class="text-block-6"><%= item.description%></div>
            <div class="text-block-5"></div>
          </div>
        <%end%>
    
      </div>
    </div>
  </div>
  <div class="card description">
    <div class="card-header">
      <div class="text-block-4">Description</div>
    </div>
    <div class="card-inner-cocktail">
    <%= simple_format(item.description) %>
    <br></div>
  </div>
</div>
</div>

  <%end%>


 


</div>
</div>

<div id="modal_frigo" class="modal frigo">
<div class="modal-header">
  <div class="text-block-9">Mes ingrédients</div><a data-w-id="59a80e03-2a8c-50bb-a8de-08fce2e057de" href="#" class="close w-button"></a></div>
<div class="modal-inner">
  <div class="colone">
    <div class="card _100">
      <div class="container-selector">
      <%= form_tag cocktails_path, method: :get do %>
        <%= select('get', :ig , Ingredient.all.collect {|p| [ p.name, p.id ] }, { include_blank: true }, class: 'select2', multiple: 'multiple', data: { placeholder: "Ajouter un ingrédient" }) %>
        <hr>
        <div class="container-submit">
        <%= submit_tag "Recherche", class: "btn btn-primary" %>
        </div>
        <% end %>
      </div>
    </div>
</div>