

<div class="view">


<div class="show-view">
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>


  <% @cards.each do |item| %>

  <div class="column-1 hidden">
    <div class="card-cocktail" style='background-image:linear-gradient(rgba(100,100,100,0.3), rgba(100,100,100,0.4)),url("<%= item.photo %>")'>
    <%= item.name %>
    </div>

    <div class="dosages card" id=card-<%=item.id%>>
      <h2>Liste des ingredients </h2>
      <p>
        <% item.doses.each do |item|%>
          <div class="ig-list hidden"><%= item.description %> </div>
        <% end %>
      </p>
    </div>
  </div>

  <div class="column-2 hidden">
    <div class="answer card">
      <h2>Quelle sont les ingrédients de ce cockails (<%= item.name %> ) ?</h2>
      <div class="content">
        <div class="container-answer">
            <div class="btn-show">Voir la réponse</div>
            <div class="btn-yes hidden">Je sais </div>
            <div class="btn-no hidden">Je sais pas</div>
        </div>
      </div>
    </div>
  </div>

  <%end%>

</div>
</div>



