<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Grecocktail</title>
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable"  content="yes">
    <%= csrf_meta_tags %>
    <%= render 'shared/ios_pwa_links' %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%#= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <html data-wf-page="5df516716a31d57fb038d941" data-wf-site="5df516716a31d5c10938d933"></html>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">
    <%#= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
 

    <%= yield %>

    <script src="https://d3e54v103j8qbb.cloudfront.net/js/jquery-3.4.1.min.220afd743d.js" type="text/javascript" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  
  </body>
</html>
